{{#section 'title'}}
<title>Admin: Courses</title>
{{/section}}
{{#section 'css'}}
{{/section}}

<div class="card mt-4">
  <div class="card-header bg-primary text-light">
    Courses
  </div>
  <div class="card-body p-0 overflow-auto my-1 p-1">

    {{#each this.courses}}
    <div class="card flex-row flex-wrap">
      <div class="card-header p-0">
        <img width="120" height="60" class="img" src="/p/imgs/courses/{{_id}}/thumbnail.jpg" alt="">
      </div>

      <div class="card-body p-1">
        <h5 class="card-title mb-1">{{CourseName}}</h5>
        <div class="d-flex flex-row flex-wrap">
          <small class="mr-1 font-weight-bold">{{Category.CatName}}</small>
          <small class="mr-1 font-weight-bold">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="/admin/user/{{Teacher._id}}">{{Teacher.Name}}</a>
          </small>

          <small class="ml-auto mx-1">
            <i class="fa fa-users" aria-hidden="true"></i>
            {{RegisterCount}}
          </small>
          <small class="mx-1">
            <span class="rating" data-rating="{{RatingAverage}}"></span>
            ({{RatingCount}})
          </small>
          <small class="mx-2">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{LastUpdate}}
          </small>
        </div>
      </div>
      <div class="d-flex p-1">
        <a class="btn btn-danger my-auto" href="javascript:ConfirmDelete('{{_id}}', '{{CourseName}}');" role="button">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    {{else}}
    <p class="text-center">Không có dữ liệu</p>
    {{/each}}
  </div>
</div>
<form id="formDelete" action="/admin/courses/delete" method="POST">
  <input id="deleteChapterId" name="_id" type="hidden">
</form>

{{#section 'js'}}
<script>
$(".rating").starRating({
  totalStars: 5,
  readOnly: true,
  starSize: 15
});
</script>
<script>
function ConfirmDelete(courseId, courseName) {
  swal.fire({
    title: `Are you sure?`,
    text: `Delete ${courseName}?`,
    showCancelButton: true,
    confirmButtonText: `<i class="fa fa-trash" aria-hidden="true"></i> Delete`,
    confirmButtonColor: '#DE001F',
    }).then((result) => {
      if (result.isConfirmed) {
        $('#formDelete #deleteChapterId').val(courseId);
        $('#formDelete').submit();
      }
    });
}
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.7/dist/sweetalert2.all.min.js"></script>
{{/section}}