{{#section 'title'}}
<title>Admin: Courses</title>
{{/section}}
{{#section 'css'}}
{{/section}}

<div class="card mt-4">
  <div class="card-header bg-dark text-light">
    Courses
    <form class="mx-auto my-auto w-100" action="">
        <div class="input-group">
          <select class="form-control" type="text" placeholder="Search" aria-label="Search" name="cat">
            <option value="0">All Categories</option>
            {{#each this.categories}}
            <optgroup label="{{CatName}}">
              {{#each SubCats}}
              <option value="{{CatID}}" {{#if selected}}selected{{/if}}>{{CatName}}</option>
              {{/each}}
            </optgroup>
            {{/each}}
          </select>
          <span class="input-group-append">
            <button class="btn btn-success" type="submit">Filter</button>
          </span>
        </div>
    </form>
  </div>
  <div class="card-body p-0 overflow-auto my-1 p-1">

    {{#each this.courses}}
    <div class="card container-fluid">
    <div class="row">
      <div class="card-header col-sm-1 p-0">
        <img style="object-fit: cover; width: 100%; height: 60px;" class="img" src="/p/imgs/courses/{{_id}}/thumbnail.jpg" alt="">
      </div>

      <div class="card-body col-sm-10 p-1">
        <h5 class="card-title mb-1">{{CourseName}}</h5>
        <div class="d-flex flex-row flex-wrap">
          {{#if IsDisabled}}
          <span class="badge badge-secondary">Disabled</span>
          {{/if}}
          <small class="mr-1 font-weight-bold"> {{Category.CatName}}</small>
          <small class="mr-1 font-weight-bold">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{Teacher.Name}}
          </small>

          <small class="ml-auto mx-1">
            <i class="fa fa-users" aria-hidden="true"></i>
            {{RegisterCount}}
          </small>
          <small class="mx-1">
            <span class="rating" data-rating="{{RatingAverage}}"></span>
            ({{RatingCount}})
          </small>
          <small class="mx-2">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{LastUpdate}}
          </small>
        </div>
      </div>
      <div class="col-sm-1 d-flex flex-row justify-content-center p-1">
        {{#if IsDisabled}}
        <a class="btn btn-success my-auto" href="javascript:ToggleDisable('{{_id}}', '{{CourseName}}', false);" role="button" data-toggle="tooltip" title="Re-Enable this course">
          <i class="fa fa-check" aria-hidden="true"></i>
        </a>  
        {{else}}    
        <a class="btn btn-danger my-auto" href="javascript:ToggleDisable('{{_id}}', '{{CourseName}}', true);" role="button" data-toggle="tooltip" title="Disable this course">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        {{/if}}
      </div>
    </div>
    </div>

    {{else}}
    <p class="text-center">No data</p>
    {{/each}}
  </div>
</div>
<form id="formDelete" action="/admin/courses/delete" method="POST">
  <input id="deleteChapterId" name="_id" type="hidden">
</form>

{{#section 'js'}}
<script>
$(".rating").starRating({
  totalStars: 5,
  readOnly: true,
  starSize: 15
});
</script>
<script>
function ToggleDisable(courseId, courseName, isDisable) {
  const textSet = {
    disable: ['Disable', `<i class="fa fa-times" aria-hidden="true"></i> Disable`, '#DE001F'],
    enable: ['Enable', `<i class="fa fa-check" aria-hidden="true"></i> Enable`, '#00CB5D'],
  }
  swal.fire({
    title: `Are you sure?`,
    text: (isDisable? textSet.disable[0] : textSet.enable[0]) + ` ${courseName}?`,
    showCancelButton: true,
    confirmButtonText: isDisable? textSet.disable[1] : textSet.enable[1],
    confirmButtonColor: isDisable? textSet.disable[2] : textSet.enable[2],
    }).then((result) => {
      if (result.isConfirmed) {
        $('#formDelete #deleteChapterId').val(courseId);
        $('#formDelete').submit();
      }
    });
}
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.7/dist/sweetalert2.all.min.js"></script>
{{/section}}