{{#section 'title'}}
<title>Admin: Courses</title>
{{/section}}
{{#section 'css'}}
{{/section}}

<div class="card mt-4">
  <div class="card-header bg-dark text-light d-flex justify-content-between">
    Courses
  </div>
  <div class="card-body p-0 overflow-auto my-1 p-1" style="min-height: 80vh;">

    {{#each this.courses}}
    <div class="card flex-row flex-wrap p-2">
      <div class="card-header p-0">
        <img width="240" height="120" class="img" src="/p/imgs/courses/{{_id}}/thumbnail.jpg" alt="">
      </div>

      <div class="card-body p-2">
        <h5 class="card-title mb-1">{{CourseName}}</h5>
        <div>{{TinyDes}}</div>
        <div class="d-flex flex-row flex-wrap">
          <small class="mr-1 font-weight-bold">
            <a href="/courses/{{Category._id}}">{{Category.CatName}}</a></small>
          <small class="mr-1 font-weight-bold">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a href="/admin/user/{{Teacher._id}}">{{Teacher.Name}}</a>
          </small>

          <small class="ml-auto mx-1">
            <i class="fa fa-users" aria-hidden="true"></i>
            {{RegisterCount}}
          </small>
          <small class="mx-1">
            <span class="rating" data-rating="{{RatingAverage}}"></span>
            ({{RatingCount}})
          </small>
          <small class="mx-2">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{LastUpdate}}
          </small>
        </div>
      </div>
    </div>
    {{else}}
    <p class="text-center">Không có dữ liệu</p>
    {{/each}}
  </div>

  {{!-- Pagination --}}
  <div class="card-footer">
    <nav>
      <ul class="pagination">
        <li class="page-item {{#unless this.canGoPrev}}disabled{{/unless}}">
          <a class="page-link" href="?page={{this.prevPage}}" tabindex="-1">
            <i class="fa fa-backward" aria-hidden="true"></i>
          </a>
        </li>
        {{#each this.pageItems}} 
        <li class="page-item {{#if isActive}}active{{/if}}">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/each}}
        <li class="page-item {{#unless this.canGoNext}}disabled{{/unless}}">
          <a class="page-link" href="?page={{this.nextPage}}">
            <i class="fa fa-forward" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{{#section 'js'}}
<script>
$(".rating").starRating({
  totalStars: 5,
  readOnly: true,
  starSize: 15
});
</script>
{{/section}}