{{#section 'title'}}
<title>Courses: {{course.CourseName}}</title>
{{/section}}
{{#section "css"}}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
#editor-container, #editor-container-curriculum {
  height: 300px;
}

</style>


{{!-- KaTex for formula formating, script have to at head else won't work --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}


{{#section "js"}}
{{!-- Bootstrap fileinput --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
$('#imgTitle').fileinput({
  theme: 'fa',
  dropZoneEnabled: false,
  showUpload: false,
  required: true,
  maxFileSize: 512,
  allowedFileExtensions: ['jpg'],
});
</script>

{{!--  --}}


{{!-- Quilljs WYSIWYG editor--}}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>  {{!-- Init --}}
let quillFullDes = new Quill('#editor-container', {
  theme: 'snow',
  placeholder: 'Put your description here in its full glory',
  modules: {
    toolbar: [
      [
        { 'font': [] }, 
        { 'header': [false, 1, 2, 3, 4, 5, 6] }, 
      ],
      [{ 'align': [] }],

      ['bold', 'italic', 'underline', 'strike'],    //Text style
      [{ 'script': 'sub'}, { 'script': 'super' }],  //Superscript/Subscript

      [{ 'color': [] }, { 'background': [] }],      //Text color & background color
      ['blockquote', 'code-block', 'formula'],
      ['link', 'image', 'video'],

      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'indent': '-1'}, { 'indent': '+1' }],      //Outdent/Indent

    ],
  }
});

let quillCurriculum = new Quill('#editor-container-curriculum', {
  theme: 'snow',
  placeholder: 'What are you going to teach in this course',
  modules: {
    toolbar: [
      [
        { 'font': [] }, 
        { 'header': [false, 1, 2, 3, 4, 5, 6] }, 
      ],
      [{ 'align': [] }],

      ['bold', 'italic', 'underline', 'strike'],    //Text style
      [{ 'script': 'sub'}, { 'script': 'super' }],  //Superscript/Subscript

      [{ 'color': [] }, { 'background': [] }],      //Text color & background color
      ['blockquote', 'code-block', 'formula'],
      ['link', 'image', 'video'],

      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'indent': '-1'}, { 'indent': '+1' }],      //Outdent/Indent

    ],
  }
});



{{!-- Form validation --}}
$('#form').on('submit', function(e) {
  e.preventDefault();

  const courseName = $('#txtCourseName').val();
  if (courseName.length === 0) {
    alert('Course name is required');
    return;
  }

  const coursePrice = parseInt($('#numPrice').val());
  if (!Number.isInteger(coursePrice)) {
    console.log(coursePrice);
    alert('Please enter price correctly');
    return;
  }

  // Populate hidden form on submit
  $('#txtFullDes').val(quillFullDes.root.innerHTML);
  $('#txtCurriculum').val(quillCurriculum.root.innerHTML);

  $('#form').off('submit').submit();
});
</script>
{{/section}}
<div class="d-flex flex-row align-items-center my-2">
  <a href="/teacher" class="mr-4" role="button">
    <i class="fa fa-backward" aria-hidden="true"></i>
    Back
  </a>
  <h3> Course: {{course.CourseName}} </h3>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a 
      class="nav-item nav-link {{#unless show_chapter}}active{{/unless}}"
      id="nav-details-tab" 
      data-toggle="tab" 
      href="#nav-details" 
      role="tab" 
      aria-controls="nav-details" 
      aria-selected="true">Details</a>
    <a class="nav-item nav-link {{#if show_chapter}}active{{/if}}"
      id="nav-chapters-tab"
      data-toggle="tab"
      href="#nav-chapters"
      role="tab"
      aria-controls="nav-chapters"
      aria-selected="false">Chapters</a>
  </div>
</nav>
<div class="tab-content p-2" id="nav-tabContent" style="background: white;">
  <div 
    class="tab-pane fade {{#unless show_chapter}}show active{{/unless}}" 
    id="nav-details" 
    role="tabpanel" 
    aria-labelledby="nav-details-tab">
      <div class="pb-2 px-2 d-flex flex-row align-content-center justify-content-between">
        <h5 class="m-0">Course Details</h5>
      </div>
      <div class="container-fluid">
        {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{err_message}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
        {{/if}}
        
        <form id="form" method="POST" action="/teacher/course/patch">
          <div class="row">
            <div class="col-lg-9">
              <input type="hidden" value="{{course._id}}" id="txtCourseID" name="_id">
              <div class="form-group">
                <label for="txtCourseName">Course Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    value="{{course.CourseName}}" 
                    id="txtCourseName" 
                    name="CourseName" 
                    autofocus required>
              </div>
              <div class="form-group">
                <label for="txtTinyDes">Course Short Description</label>
                <textarea rows="2"
                    type="text" 
                    class="form-control"
                    id="txtTinyDes" 
                    name="TinyDes" 
                    placeholder="1 or 2 sentences to summarize this course">{{course.TinyDes}}</textarea>
              </div>
              <div class="form-group">
                <label for="txtFullDes">Course Full Description</label>
                <div id="editor-container">
                  {{!-- where the user enter the description --}}
                  {{{course.FullDes}}}
                </div>
                {{!-- where the description is actually put to send to server --}}
                <input type="hidden" class="form-control" id="txtFullDes" name="FullDes">
              </div>
              <div class="form-group">
                <label for="txtCurriculum">Course Curriculum</label>
                <div id="editor-container-curriculum">
                  {{!-- where the user enter the description --}}
                  {{{course.Curriculum}}}
                </div>
                {{!-- where the description is actually put to send to server --}}
                <input type="hidden" class="form-control" id="txtCurriculum" name="Curriculum">
              </div>
            </div>

            <div class="col-lg-3">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="courseStatus">Status</label>
                    <select class="form-control" id="courseStatus" name="Status" required>
                      <option value="false" {{#unless course.Status}}selected{{/unless}}>Course Incompleted</option>
                      <option value="true" {{#if course.Status}}selected{{/if}}>Course Completed</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Category">Category</label>
                    <select class="form-control" id="Category" name="CatID" required>
                      {{#each this.categories}}
                      <optgroup label="{{CatName}}">
                        {{#each SubCats}}
                        <option value="{{CatID}}" {{#if selected}}selected{{/if}}>{{CatName}}</option>
                        {{/each}}
                      </optgroup>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>

              <div class="card mt-4">
                <div class="card-body">
                  <div class="form-group">
                    <label for="numPrice">Price</label>
                    <input type="number" class="form-control" id="numPrice" name="Price" value="{{course.Price}}" min="0" step="1" autofocus required>
                  </div>
                  <div class="form-group">
                    <label for="numDiscount">Discount (%)</label>
                    <input type="number" class="form-control" id="numDiscount" name="Discount" value="{{course.Discount}}" min="0" max="100" step="10" autofocus required>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success w-100 mt-4">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
              </button>
            </div>

          </div>
        </form>
        <div class="card">
          <div class="card-body">
            <form action="/teacher/course/img" method="post" enctype="multipart/form-data">
              <input type="hidden" value="{{course._id}}" id="txtCourseID" name="_id"> 
              <div class="form-group">
                <label for="imgTitle">Update Feature Image</label>
                <input id="imgTitle" name="imgTitle" type="file" class="file" accept=".jpg">
              </div>
              <button type="submit" class="btn btn-success w-100 mt-4">
                <i class="fa fa-upload" aria-hidden="true"></i>
                Upload Image
              </button>
            </form>
          </div>
        </div>
      </div>
    
  </div>

  <div class="tab-pane fade {{#if show_chapter}}show active{{/if}}" id="nav-chapters" role="tabpanel" aria-labelledby="nav-chapters-tab">
    
    <div class="pb-2 px-2 d-flex flex-row align-content-center">
      <h5 class="m-0">Course Chapters</h5>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <form class="form" id="formNewChapter" method="POST" action="/teacher/course/{{course._id}}/add">
            <input type="hidden" value="{{course._id}}" id="txtCourseID" name="Course">
            <div class="form-group w-100">
              <input type="text" class="form-control" id="txtChapterName" name="ChapterName" placeholder="New chapter name" required>
            </div>
            <button class="btn btn-outline-success" type="submit">
              <i class="fa fa-plus" aria-hidden="true"></i>
              New Chapter
            </button>
          </form>
        </div>
      </div>

      <div class="card mt-3">
        <ul class="list-group list-group-flush">
          {{#each chapters}}
          <li class="list-group-item d-flex flex-row align-items-center">
            <a href="/teacher/course/{{../course._id}}/{{_id}}" class="btn btn-primary">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <p class="mb-0 mx-2 font-weight-bold">{{{ChapterName}}}</p>
            <small class="ml-auto">{{#if VideoLink}}Uploaded{{else}}Not uploaded{{/if}}</small>
            <small class="ml-2 font-weight-bold">{{#if Previewable}}Previewable{{else}}Not previewable{{/if}}</small>
          </li>
          {{else}}
          <p class="text-center">There aren't any chapters in this course yet</p>
          {{/each}}
        </ul>
      </div>
       
    </div>

  </div>
</div>
