{{#section 'title'}}
<title>Account: Edit</title>
{{/section}}
{{#section 'js'}}
<script>
{{!-- Form validation --}}
$('#formReset').on('submit', function(e) {
  e.preventDefault();

  const txtPassword = $('#txtPassword').val();
  const txtConfirm = $('#txtPasswordConfirm').val();
  if (txtPassword !== txtConfirm) {
    alert('Password does not match');
  }
  else {
    $('#formReset').off('submit').submit();
  }
});
</script>
{{/section}}

<div class="container min-vh-100">
  <div style="height: 10vh;" class="d-flex align-items-center">
    <a class="btn btn-primary" href="{{backRoute}}" role="button">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    <h1 class="ml-4 mb-0">Edit Account Info</h1>
  </div>
  <hr>
  {{#if message}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
  {{/if}}
	<div class="row">
      <!-- left column -->
      {{!-- <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div> --}}
      
      <!-- edit form column -->
      <div class="col-md-8">
        <div class="card">
          <form id="formEdit" method="POST" action="">
          <div class="card-body">
            <h5 class="card-title">Account Info</h5>
            
            <input type="hidden" name="_id" value="{{account._id}}" required>
            <div class="form-group">
              <label for="txtEmail"><b>Email</b></label>
              <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="New email" value="{{account.Email}}" autofocus required>
            </div>
            <div class="form-group">
              <label for="txtName"><b>Name</b></label>
              <input type="text" class="form-control" id="txtName" name="Name" placeholder="New name" value="{{account.Name}}">
            </div>
          </div>
          <div class="card-footer text-muted">
            <button type="submit" class="btn btn-outline-success">
              <i class="fa fa-check" aria-hidden="true"></i>
              Save
            </button>
          </div>
          </form>
        </div>        
      </div>

      <div class="col-md-4">
        <div class="card">
          <form id="formReset" method="POST" action="/account/reset">
            <div class="card-body">
              <h5 class="card-title">Reset Password</h5>
              <input type="hidden" name="_id" value="{{account._id}}" required>
              <div class="form-group">
                <label for="txtOldPassword"><b>Password</b></label>
                <input type="password" class="form-control" id="txtOldPassword" 
                        name="currentPassword" placeholder="Current password"
                        required>
              </div>
              <div class="form-group">
                <label for="txtPassword"><b>New Password</b></label>
                <input type="password" class="form-control" id="txtPassword" 
                        name="Password" placeholder="New Password"
                        required>
              </div>
              <div class="form-group">
                <label for="txtPasswordConfirm"><b>Confirm Password</b></label>
                <input type="password" class="form-control" id="txtPasswordConfirm" 
                        placeholder="Confirm new password" 
                        required>
              </div>
              <button type="submit" class="btn btn-outline-danger">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                  Reset password
              </button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
