<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Online Academy</a>
   
  <div class="collapse navbar-collapse" id="mainNavbar">

    <ul class="navbar-nav mr-2">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-2" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bars" aria-hidden="true"></i>
      Category
      </a>
      <div class="dropdown-menu my-2" aria-labelledby="categoryDropdown">
        <div class="d-lg-flex align-items-start justify-content-start">
          {{#each lcCategories}}
          <div>
            <div class="dropdown-header">
              <a class="font-weight-bold" href="/courses/{{CatID}}">{{CatName}}</a>
            </div>
            {{#each SubCats}}
            <a class="dropdown-item" href="/courses/{{CatID}}">{{CatName}}</a>
            {{/each}}
          </div>
          {{else}}
          Không có dữ liệu
          {{/each}}
        </div>
      </div>
    </li>
    </ul>

    <form class="mx-auto my-auto w-100" action="/search">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="keyword">
          <span class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </span>
        </div>
    </form>
    <ul class="navbar-nav ml-2 align-self-right">
      {{#if isAuth}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{authUser.Name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right my-2" aria-labelledby="userDropdown">
          {{#unless authUser.Verified}}
          <a class="dropdown-item text-center p-1" href="/account/verify">
            Verify <span class="badge badge-pill badge-danger">Unverified</span>
          </a>
          {{/unless}}
          {{#if (equals authUser.Permission 2)}}
          <a class="dropdown-item text-center p-1" href="/profile">
            <i class="fa fa-user mr-2" aria-hidden="true"></i>Profile
          </a>
          {{/if}}
          {{#if (equals authUser.Permission 1)}}
          <a class="dropdown-item text-center p-1" href="/teacher">
            <i class="fa fa-graduation-cap mr-2" aria-hidden="true"></i>Teacher
          </a>
          {{/if}}
          {{#if (equals authUser.Permission 0)}}
          <a class="dropdown-item text-center p-1" href="/teacher">
            <i class="fa fa-cubes mr-2" aria-hidden="true"></i>Admin
          </a>
          {{/if}}
          <a class="dropdown-item text-center p-1" href="/account/edit">
            <i class="fa fa-pencil mr-2" aria-hidden="true"></i>Edit Account
          </a>
          <a class="dropdown-item text-center p-1" href="/account/logout">
            <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
        </a>
        <div class="dropdown-menu dropdown-menu-right my-2" aria-labelledby="userDropdown">
          <a class="dropdown-item text-center p-1" href="/account/login">
            <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login
          </a>
          <a class="dropdown-item text-center p-1" href="/account/register">
            <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>Register
          </a>
        </div>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
