{{#section 'title'}}
<title>Home</title>
{{/section}}

{{#section 'css'}}
<style>
.carousel-caption{
  background-color: rgba(0,0,0,0.7);
  margin-top: 1rem;
}
.bg-dark{ 
  background-color: black;
 }
.card-body{
  padding: 0.75rem;
}
.card:hover{
  transform: scale(1.03);
  box-shadow: black;
}
.card-title{
  margin-bottom: 0.25rem;
}
</style>
{{/section}}

<div class="container bg-light my-4">
  <div class="row">
    <div class="col-sm-12 p-0">
      <div id="carouselId" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {{#each highlights}}
          <div class="carousel-item {{#if @first }}active{{/if}}">
            <a href="/course/{{_id}}">
              <img class="w-100" src="/p/imgs/courses/{{_id}}/thumbnail.jpg" style="height: 60vh;width: 100%;object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h4>{{CourseName}}</h4>
                <p class="mb-1"><span class="rating" data-rating="{{RatingAverage}}"></span> ({{format RatingCount}})</p>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{{!-- carousel --}}

<div class="container-fluid my-4">
  <div class="row pt-2 pl-2">
    <h5 class="mx-auto mb-0 py-2 px-4 text-light text-center bg-dark">Lĩnh vực đăng ký nhiều nhất</h5>
  </div>
  <div class="row bg-dark mt-0">
    <div class="d-flex flex-nowrap mx-auto overflow-auto px-2 py-3">
      {{#each highlightCats}}
      <a class="btn btn-light mx-2 text-nowrap text-center" href="/courses/{{_id}}" role="button">{{CatName}}</a>
      {{/each}}
    </div>
  </div>
</div>

<div class="container-fluid my-4 mx-auto">
  <div class="row pt-2 pl-2">
    <h5 class="mx-auto mb-0 py-2 px-4 text-light bg-dark">Xem nhiều nhất</h5>
  </div>
  <div class="row d-flex flex-row justify-content-center bg-dark mt-0 py-2">
    {{#each mostViewed}}
    <div class="card m-2" style="width: 270px;">
      <img style="border-radius: 3px; height: 140px; object-fit: cover;" class="img w-100"
        src="/p/imgs/courses/{{_id}}/thumbnail.jpg" 
        alt="course image">
      <div class="card-body p-3">
        <h6 class="card-title mb-1">{{CourseName}}</h6>
        <div class="card-text d-flex flex-column">
          <p class="mb-1 text-info font-weight-bold">
          {{#if Discount}}
            {{priceFormat (format (minus Price (div (multiply Price Discount) 100)))}}
            <small>
              <del>{{priceFormat (format Price)}}</del>
              <span class="ml-1 badge badge-success">-{{Discount}}%</span>
            </small>
          {{else}}
            {{#if course.Price}}
            {{priceFormat (format Price)}}
            {{else}}
            Free
            {{/if}}
          {{/if}}
          </p>
          <small><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{Teacher}}</small>
          <div class="d-flex justify-content-between">
            <small>
              <span class="rating" data-rating="{{RatingAverage}}"></span>
              ({{format RatingCount}})
            </small>
          </div>
          <small class="font-weight-bold">
            <a style="z-index: 500; position: relative;" href="/courses/{{Category._id}}">{{Category.CatName}}</a>
          </small>
          <a class="stretched-link" href="/course/{{_id}}"></a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>
<div class="container-fluid my-4">
  <div class="row pt-2 pl-2">
    <h5 class="mx-auto mb-0 py-2 px-4 text-light bg-dark">Mới nhất</h5>
  </div>
  <div class="row d-flex flex-row justify-content-center bg-dark mt-0 py-2">

    {{#each newest}}
    <div class="card m-2" style="width: 270px;">
      <img style="border-radius: 3px; height: 140px; object-fit: cover;" class="img w-100"
        src="/p/imgs/courses/{{_id}}/thumbnail.jpg" 
        alt="course image">
      <div class="card-body p-3">
        <h6 class="card-title mb-1">{{CourseName}}</h6>
        <div class="card-text d-flex flex-column">
          <p class="mb-1 text-info font-weight-bold">
          {{#if Discount}}
            {{priceFormat (format (minus Price (div (multiply Price Discount) 100)))}}
            <small>
              <del>{{priceFormat (format Price)}}</del>
              <span class="ml-1 badge badge-success">-{{Discount}}%</span>
            </small>
          {{else}}
            {{#if course.Price}}
            {{priceFormat (format Price)}}
            {{else}}
            Free
            {{/if}}
          {{/if}}
          </p>
          <small><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{Teacher}}</small>
          <div class="d-flex justify-content-between">
            <small>
              <span class="rating" data-rating="{{RatingAverage}}"></span>
              ({{format RatingCount}})
            </small>
          </div>
          <small class="font-weight-bold">
            <a style="z-index: 500; position: relative;" href="/courses/{{Category._id}}">{{Category.CatName}}</a>
          </small>
          <a class="stretched-link" href="/course/{{_id}}"></a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>

{{#section 'js'}}
<script>
$(".rating").starRating({
  totalStars: 5,
  readOnly: true,
  starSize: 15
});
</script>
{{/section}}
