{{#section 'title'}}
<title>Home</title>
{{/section}}

{{#section 'css'}}
<style>
.carousel-caption{
  background-color: rgba(0,0,0,0.7);
  margin-top: 1rem;
}
.card-body{
  padding: 0.75rem;
}
.card:hover{
  transform: scale(1.03);
  box-shadow: black;
}
.card-title{
  margin-bottom: 0.25rem;
}
.bg-gradient-top {
  background: #0F2027;
}
.bg-gradient {
  background: #0F2027;/*Incase incompatible with gradient*/
  background: linear-gradient(#0F2027, #203A43, #323A40);
}

</style>
{{/section}}

<div class="container bg-light my-4">
  <div class="row">
    <div class="col-sm-12 p-0">
      <div id="carouselId" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {{#each highlights}}
          <div class="carousel-item {{#if @first }}active{{/if}}">
            <a href="/course/{{_id}}">
              <img class="w-100" src="/p/imgs/courses/{{_id}}/thumbnail.jpg" style="height: 60vh;width: 100%;object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h4>{{CourseName}}</h4>
                <p class="mb-1"><span class="rating" data-rating="{{RatingAverage}}"></span> ({{format RatingCount}})</p>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{{!-- carousel --}}

<div class="container-fluid my-4">
  <div class="row pt-2">
    <h6 class="mx-auto mb-0 py-2 px-4 text-light text-center bg-gradient-top rounded-top">Most registered categories</h6>
  </div>
  <div class="row bg-gradient mt-0 mx-1 rounded">
    <div class="d-flex flex-wrap mx-auto px-2 py-2 justify-content-center">
      {{#each highlightCats}}
      <a class="btn btn-light m-2 text-nowrap text-center" href="/courses/{{_id}}" role="button">{{CatName}}</a>
      {{/each}}
    </div>
  </div>
</div>

<div class="container-fluid my-4">
  <div class="row pt-2">
    <h4 class="mx-auto mb-0 py-2 px-4 text-light bg-gradient-top rounded-top">Most Viewed</h4>
  </div>
  <div class="row d-flex flex-row justify-content-center mt-0 py-2 bg-gradient rounded mx-1">
    {{#each mostViewed}}
    {{> card_course_home}}
    {{/each}}

  </div>
</div>
<div class="container-fluid my-4">
  <div class="row pt-2">
    <h4 class="mx-auto mb-0 py-2 px-4 text-light bg-gradient-top rounded-top">Lastest update</h4>
  </div>
  <div class="row d-flex flex-row justify-content-center bg-gradient mt-0 py-2 rounded mx-1">

    {{#each newest}}
    {{> card_course_home}}
    {{/each}}

  </div>
</div>

{{#section 'js'}}
<script>
$(".rating").starRating({
  totalStars: 5,
  readOnly: true,
  starSize: 15
});
</script>
{{/section}}
