{{#section 'title'}}
<title>Teacher: About Me</title>
{{/section}}

<div class="container">
  <div class="row bg-success">
    <div class="col-1"></div>
    <div class="col-lg p-2 d-flex align-items-center text-light" style="min-height: 30vh;">
      <div>
        <a class="btn btn-dark mb-2" href="/teacher" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        <h4>This is the info displaying on your courses,</h4>
        <h3 class="font-weight-bold">{{authUser.Name}}</h3>
        <p>{{authUser.Email}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <section id="teacher" class="mb-2 col-sm-12 p-2">
      <h4>About Teacher</h4>
      <div class="card card-body">
        <h5>Teacher: {{account.Name}}</h5>
        <form action="" method="post">
          <input type="hidden" name="_id" value="{{account._id}}" class="form-control" required>
          <div class="form-group">
            <label for="#About">About</label>
            <textarea class="form-control" name="About" id="About" style="resize: none;" aria-describedby="helpId">{{account.About}}</textarea>
            <small id="helpId" class="text-muted">This is the info displaying on your courses</small>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>Save changes</button>
        </form>
        
        <p>{{course.Teacher.About}}</p>
      </div>
    </section>
  </div>
</div>