{{#section 'title'}}
<title>Teacher</title>
{{/section}}
{{#section 'css'}}
{{/section}}
<div class="row bg-success">
  <div class="col-1"></div>
  <div class="col-lg p-2 d-flex align-items-center text-light" style="min-height: 30vh;">
    <div>
      <h4>Welcome back,</h4>
      <h3 class="font-weight-bold">{{authUser.Name}}</h3>
      <p>{{authUser.Email}}</p>
      <a class="btn btn-dark" href="/teacher/about-me" role="button">About Me</a>
    </div>
  </div>
</div>
<div class="card mt-4">
  <div class="card-header bg-dark text-light font-weight-bold d-flex justify-content-between">
    My Courses
    <a class="btn btn-success" href="/teacher/course/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      New Course
    </a>
  </div>
  <div class="card-body p-0 overflow-auto my-1 p-1">

    {{#each this.courses}}
    <div class="card flex-row flex-wrap">
      <a href="/course/{{_id}}" class="stretched-link" title="Go to course details"></a>
      <div class="card-header p-0">
        <img style="width: 120px; height: 60px; object-fit: cover;" class="img-fluid" src="/p/imgs/courses/{{_id}}/thumbnail.jpg" alt="">
      </div>

      <div class="card-body p-1">
        <h5 class="card-title mb-1">{{CourseName}} {{#if IsDisabled}}<span class="badge badge-pill badge-secondary">Disabled</span>{{/if}}</h5>
        <div class="d-flex flex-row flex-wrap">
          <small class="mr-1 font-weight-bold">{{Category.CatName}}</small>

          <small class="ml-auto mx-1">
            <i class="fa fa-users" aria-hidden="true"></i>
            {{RegisterCount}}
          </small>
          <small class="mx-1">
            <span class="rating" data-rating="{{RatingAverage}}"></span>
            ({{RatingCount}})
          </small>
          <small class="mx-2">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{LastUpdate}}
          </small>
        </div>
      </div>
      <a href="/teacher/course/{{_id}}" class="btn btn-primary d-flex align-items-center" style="z-index: 500; position: relative;" title="Edit course">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>

    {{else}}
    <p class="text-center">There isn't any course yet</p>
    {{/each}}
  </div>
</div>

{{#section 'js'}}
<script>
$(".rating").starRating({
  totalStars: 5,
  readOnly: true,
  starSize: 15
});
</script>
{{/section}}